:root {
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 0.25em;
}
.filters .filter {
  padding: 1rem;
}

.filters label {
  display: block;
  margin-bottom: 0.5rem;
}

.filters select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 0.5rem 4rem 0.5rem 1rem;
  background-color: #e1dcd6;
  background-image: var(--arrow-icon);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, right 0.7em bottom 50%;
  background-size: 20px;
  border-radius: 0.25em;
  cursor: pointer;
}

.filters .reset-button {
  align-content: flex-end;
  background-color: #e1dcd6;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem;
}