.lesson-card {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fcece7;
}
.lesson-card__wrapper {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr auto auto;
  height: 100%;
}
.grid--4 .related-recipe {
  margin-bottom: 28px;
}
.lessons--daily-lesson {
  margin-bottom: 3rem;
}
.lessons--daily-lesson .lesson-header h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.lessons--daily-lesson p {
  font-size: 1.188em;
}
.lessons--daily-lesson .lesson {
  display: flex;
  gap: 28px;
  background-color: #fff;
  padding: 1rem;
}
.lessons--daily-lesson .lesson .lesson-col {
  flex-basis: calc(50%);
  flex-grow: 0;
  flex-shrink: 0;
}
.lessons-json-tester {
  margin-bottom: 3rem;
}
.lessons-json-tester a.btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /*color: #fff;*/
  margin: 0 0.5rem 0.5rem 0;
  background-color: #e1dcd6;
}
.lessons-json-tester a.btn:hover {
  background-color: #d1c6b9;
}

/* Small */
@media screen and (min-width: 30em) { /* 480px */
  .grid--4 {
    overflow-x: hidden;
  }
  .grid--4 .related-recipes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
  }
  .grid--4 .related-recipe {
    display: flex;
    flex-basis: calc(50% - 28px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 14px 28px;
    padding: 0;
  }
}
/* Large */
@media screen and (min-width: 60em) { /* 960px */
  .grid--4 .related-recipe {
    flex-basis: calc(25% - 28px);
    flex-grow: 0;
    flex-shrink: 0;
  }
}