{% set file_entity_id %}
{% endset %}
{% if lesson.field_image.entity %}
  {% set media_entity = lesson.field_image.entity %}
  {% if media_entity.field_media_image %}
    {% set file_entity = media_entity.field_media_image.entity %}
    {% set file_entity_id = file_entity.id %}
  {% endif %}
{% endif %}

{% set read_more %}
  {% trans %}View {{ lesson.type.entity.label() }}{% endtrans %}
{% endset %}

{% set url %}
  {{ path('entity.node.canonical', {'node': lesson.id}) }}
{% endset %}

<div class="lessons--daily-lesson">
  <div class="lesson-header">
    <h2>Lesson of the day</h2>
  </div>
  <div class="lesson">
    <div class="lesson-col">
      {% if(file_entity_id) %}
        {{ drupal_image(file_entity_id, 'large_3_2_768x512') }}
      {% endif %}
    </div>
    <div class="lesson-col">
      <h2>{{ lesson.label }}</h2>
      {{ drupal_field('body', 'node', lesson.id, 'card') }}
      {% include "umami:read-more" with {
        url,
        text: read_more,
        a11y: label,
        extra_classes: 'umami-card__read-more'
      } only %}
    </div>
    {#    {{ lesson.content }} #}
  </div>
</div>
